/*********
 * FONTS *
 *********/

$poiret: 'Poiret One', cursive;
$montserrat: 'Montserrat Subrayada', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$elite: 'Special Elite', cursive;
$roboto: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
