/***************
 * BASIC STYLE *
 ***************/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html{
  background-color: $black;

  body {
    background-color: $black;
    color: $white;
  }
}

h1 {
  text-align: center;
}

.background {
  background: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  // background-image: url('images/native-altar-on-stage.jpg');
}
//
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: $white;
//   line-height: 1.4;
//   font-family: $josefin;
//   @include rem-fallback(padding-bottom, 1.5);
}
//
// h1 {
//   font-size: 6.5em;
//   font-weight: 300;
//   text-transform: lowercase;
//   line-height: 1;
//
//   @include mobile {
//     font-size: 3.5em;
//   }
// }
//
// h2 {
//   font-size: 3em;
//   letter-spacing: 5px;
// }
//
// p {
//   line-height: 1.4;
//   font-size: 1.8em;
//   font-family: $cmu;
//   color: $black;
//   letter-spacing: 1px;
//   margin: 0;
// }
//
// a, i {
//   transition: all 0.3s ease;
//   cursor: pointer;
//   &:visited,
//   &:focus,
//   &:hover {
//     text-decoration:none;
//   }
// }

.navbar { margin: 0; }
