/***************
 * BASIC STYLE *
 ***************/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  background-color: $white;

  body {
    min-height: 100%;
    background-color: $white;
    color: $black;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: $white;
}

.background {
  background: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

.hidden-off-mobile {
  @include aboveMobile { display: none; }
}

.one-pixel {
  width: 1px;
  height: 1px;
  position: absolute;
}

#primary {
  position: relative;
  h1 {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}

.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  .navbar-right {
    background: $white;
  }

  .navbar-toggle .icon-bar { background-color: $white; }

  .nav > li > a {
    font-size: 24px;
    background: $white;
    color: $black;

    &:hover {
      background: $red;
      color: $white;
    }

    &:active {
      background: darken($red, 10);
      color: $white;
    }

    @include aboveMobile{
      padding-left: 0;
      padding-right: 0;
    }
    i {
      width: 75px;
      text-align: center;
      @include mobile { width: 40px; }
    }

  }
}

.bx-wrapper {
  border: 0;
  margin: 0;
  box-shadow: 0 0;

  .bx-prev, .bx-next {
    height: 125px!important;
    width: 75px!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 45%!important;
  }
  .bx-prev {
    &, &:hover, &:focus, &:visited, &:active {
      background: url(images/arrow-left.png) 20px -87px no-repeat;
    }
  }
  .bx-next {
    &, &:hover, &:focus, &:visited, &:active {
      background: url(images/arrow-right.png) -64px -87px no-repeat;
    }
  }
}

#tour-dates {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 40px;
  background: $white;
  color: $black;

  @include mobile {
    position: initial;
    padding: 30px 10px;
  }

  .header {
    color: $black;
    padding-bottom: 10px;
  }

  th, td {
    padding: 5px 30px 5px 0;
    &:last-child { padding-right: 0; }
  }
}
